---
---
$dark-color: #0d1117;
$light-color: #919191;

html, body {
  background: $dark-color!important;
}

h1, h2, h3, h4, h5, h6, strong {
  color: $light-color!important;
}

@import "{{ site.theme }}";

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

section {
  width: 700px;
  float: right;
  padding-bottom: 50px;
}

.highlight {
  background-color: #0d1117;
}

pre {
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid #a8a8a8;
  overflow-x: auto;
}

code, pre {
    font-family: Consolas;
    color: #a8a8a8;
}
