---
---
$background-color: #0d1117;
$strong-color: #919191;

body {
  background: $background-color!important;
}

html {
  background: $background-color!important;
}

strong {
  color: $strong-color!important;
}

@import "{{ site.theme }}";

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

section {
  width: 700px;
  float: right;
  padding-bottom: 50px;
}
